{%- unless request.page_type == 'product' -%}
	<noscript>{{ 'component-product.css' | asset_url | stylesheet_tag }}</noscript>
{%- endunless -%}
<noscript>{{ 'component-quick-view.css' | asset_url | stylesheet_tag }}</noscript>

<div class="productly-popup productly-quick-view-popup customPopup-large" data-quick-view-popup id="productly-quick-view-popup" data-url-variants-quick-view="{{ 'variants-quick-view.js' | asset_url }}" data-url-style-product="{% unless request.page_type == 'product' %}{{ 'component-product.css' | asset_url }}{% endunless %}" data-url-style-quick-view="{{ 'component-quick-view.css' | asset_url }}">
	<div class="productly-popup-wrapper">
		<button type="button" class="productly-popup-close clearfix" data-close-quick-view-popup aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}</button>
	    <div class="productly-popup-content productly-popup-scroll custom-scrollbar"></div>
	</div>
</div>
